<div class="container">
<div class="row" style="padding: 20px 20px 20px 10px">
<div class="col-xs-6" *ngFor="let topic of topics" style="padding-right:0px">
    <div class="card">
        <div class="row">
        <div class="col-xs-3">
            <div class="topic-img">
            <img src={{topic.img}} height="35px" width="35px">
            </div>
        </div>
        <div class="col-xs-9">
        <div class="topic-heading">{{topic.name}}</div>
        </div>
        </div>
    </div>
  </div>
</div>
</div>
